.copy-content {
    height: 0;
}
.icon {
    width: 0.8rem;
    height: 0.8rem;
    fill: white;
}
.copy-btn {
    user-select: none;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s;
    filter: invert(0.5);
}